*.suo
*.dll
src/Maetsilor/obj/Debug/netcoreapp1.0/.IncrementalCache
src/Maetsilor/obj/Debug/netcoreapp1.0/.SDKVersion
src/Maetsilor/obj/Debug/netcoreapp1.0/Maetsilor.Resource.resources
src/Maetsilor/obj/Debug/netcoreapp1.0/Maetsilor.Resources.Resource.resources
src/Maetsilor/obj/Debug/netcoreapp1.0/Maetsilordotnet-compile.deps.json
src/Maetsilor/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
src/Maetsilor/obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
src/Maetsilor/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
Maetsilor.VC.db
