@model Maetsilor.Models.MatchMakingViewModel.Group

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>@Model.Nom</h4>
        <hr />
        <div class="form-group">
            <label asp-for="Nom" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TypeDePartie" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TypeDePartie" class="form-control" />
                <span asp-validation-for="TypeDePartie" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaxDeJoueur" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaxDeJoueur" class="form-control" />
                <span asp-validation-for="MaxDeJoueur" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MinDeJoueur" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MinDeJoueur" class="form-control" />
                <span asp-validation-for="MinDeJoueur" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
