@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Team Blackjack and Hookers<br />
    3000 Avenue Boullé, Saint-Hyacinthe, QC J2S 1H9, (Local B-2342)<br />
</address>

<ul>
    <h2>@Resource.Team</h2>

    <h3>@Resource.Programmers</h3>
    <ul>
        <li>David Bisaillon</li>
        <li>Alexandre Bricault-Leduc</li>
        <li>Francis Henry</li>
        <li>Nicolas Lapointe</li>
        <li>William Lapointe</li>
        <li>Justin Leblanc</li>
        <li>Samuel Savoie-Lapierre</li>
    </ul>
    <h3>Webmasters</h3>
    <ul>
        <li>Samuel Savoie-Lapierre</li>
        <li>Xavier Laporte</li>
    </ul>
</ul>

