@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Team Blackjack and Hookers<br />
    3000 Avenue Boullé, Saint-Hyacinthe, QC J2S 1H9, (Local B-2342)<br />
</address>

<p>Email: admin@maetsilor.com</p>

